<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel="stylesheet" href="styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HabitTracker</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.js"></script>
    <header>
      <h1 id="Logo_Head">HabitTracker</h1>
    </header>
    <nav>
      <ul id="nav_style">
        <li><a href="">Dashboard</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </nav>

    <main>
      <section id = "add_del">
        <button type = "add" class ="button">ADD</button>
        <button type = "del" id = "deleteBtn">DEL</button>
      </section>
      <form id="habit_form">
        <label for="habit_name">Habit Name: </label>
        <input id="habit_name" name="habit_name" type="text" />

        <label for="target_streak">Target Streak</label>
        <input
          id="target_streak"
          name="target_streak"
          min="0"
          max="10"
          type="number"
        />

        <button type="submit" id="button">Submit</button>
      </form>
      <ul id="habit_list"></ul>


    </main>
    <footer>
      <p class="center">Made by L.C. 2025</p>
    </footer>
  </body>
</html>
